<a href="https://colab.research.google.com/github/CamiloLezcanoUdea/Clases_Python_20251_Principios_Python/blob/master/generalidades_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 1. comentarios
"""
a
b
c
d
e
f
g
h
i
j
"""

'\na\nb\nc\nd\ne\nf\ng\nh\ni\nj\n'

In [4]:
# 2. Ingresar datos
nombre = input("Ingrese su nombre: ")

Ingrese su nombre: Camilo

In [11]:
# 3. conversión de tipos
num = "123456"
sum = int(num) + 10
print(sum)
print(num)

123466
123456

In [16]:
# 4. operadores de comparación
print(10 > 9)
print(10 == 9)
print(10 < 9)
print(10 != 9)
print(10 >= 10)
print(10 <= 9)

True
False
False
True
True
False

In [20]:
# 5. operadores lógicos

print((10 > 9) and (10 == 1))
print((10 > 9) or (10 == 1))
print(not (10 > 9))

False
True
False

In [24]:
# 6. listas
# Indice =  [0,1,2,3,4,5,6,7,8,9]
# Arreglo = [1,2,3,4,5,6,6,5,4,3]
# conjuntos = [1,2,3,4,5,6,6,6,6,6] = [1,2,3,4,5,6]

frutas = ["manzana", "banana", "cereza"]
print(frutas[0])
print(frutas[1])
print(frutas[2])
frutas.append("durazno")
print(frutas)
frutas.remove("banana")
print(frutas)
frutas.pop(0)
print(frutas)

manzana
banana
cereza
['manzana', 'banana', 'cereza', 'durazno']
['manzana', 'cereza', 'durazno']
['cereza', 'durazno']

In [26]:
# 7. tuplas

coordenadas = (10, "20")
print(coordenadas)

(10, '20')

In [27]:
# 8. diccionarios

persona = {"nombre": "Juan", "edad": 25, "ciudad": "Madrid"}
print(persona["nombre"])
print(persona["edad"])
print(persona["ciudad"])

Juan
25
Madrid